**1-Write a Python program to calculate the length of a string using 2 ways

In [17]:
string1="abcdef"
print(len(string1))

### the other way

string2="ahmed"
counter=0
for i in string2:
    counter+=1
counter

6

5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [2]:
input_string= input()
if len(input_string)<2:
    print("empty")
else:
    print(input_string[:2]+input_string[-2:])

sandy
sady

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [5]:
## first input & output
name = input()

if len(name) == 3:
    print(name + "ing")
elif name[-3:] == "ing":  # Corrected the condition for elif
    print(name + "ly")
else:
    print(" ")

eat
eating

In [4]:
### second input & output

name = input()

if len(name) == 3:
    print(name + "ing")
elif name[-3:] == "ing":  
    print(name + "ly")
else:
    print(" ")

playing
playingly

In [3]:
## third input & output

name = input()

if len(name) == 3:
    print(name + "ing")
elif name[-3:] == "ing":  
    print(name + "ly")
else:
    print(" ")

hello

In [ ]:
nm=input()
if len (name)<3:
    print(" ")
else:
    if nm[-3:]=="ing":
        print(nm+"ly")
    else:
            print(nm+"ing")

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [6]:
list_of_names=["aly","ahmed","aly and ahmed"]
longest_name=max(list_of_names)
longest_name

'aly and ahmed'

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [29]:
#### first way

name_="ahmed"
reverse_name=name_[-1]+name_[1:-1]+name_[0]
print(reverse_name)

######### 2nd way

name=input()
print(name[-1]+name[1:-1]+name[0])

### 3rd way

def reverse__name2(namee):
    print(namee[-1]+namee[1:-1]+namee[0])
    
reverse__name2("sandy")

dhmea
abdelrahman
nbdelrahmaa
yands

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [59]:
numbers=(1,2,3,4,5,6)
for odd_number in numbers:
     if odd_number %2!=0:
         print(odd_number,end=",") 
        
 #### #### 2nd way

name=(1,2,3,4)
name[::2]

1,3,5,

(1, 3)

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [81]:
full_sentance=("ahmed and ali are the smartest two and ali is tallest than ahmed ")
sentace_after_split= full_sentance.split()
    
for word in sentace_after_split:
    print(word,full_sentance.count(word))

ahmed 2
and 2
ali 2
are 1
the 1
smartest 1
two 1
and 2
ali 2
is 1
tallest 1
than 1
ahmed 2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [93]:
user_input=input()

capital_input=user_input.upper()

lowercase_input=user_input.lower()

print(capital_input,"\n",lowercase_input)

sandy
SANDY
 sandy

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [30]:
#### first way

def reverse_string(input):
    
    if len(input) == 4:
        reverse2_string=input[-1::-1]
        print(reverse2_string)
        
        
reverse_string("abcd")

####### 2nd way

name="sandy"
print(name[-1::-1])

##### 3rd way

name="ahmed"
#name[-1::-1]
print(name[-1]+name[1:4]+name[0])

dcba
ydnas
dhmea

**10- Write a Python program to remove a newline in Python

In [58]:
two_names = " ahmed\n aliaa "
print(two_names)

###########################

without_new_line = x.replace("\n","")

print(without_new_line)

 ahmed
 aliaa
 ahmed aliaa

**11-Write a Python program to check whether a string starts with specified characters

In [72]:
name="ahmed"
if name[0]=="a" or "A":
    print("ok")
else:
    print("not ok")
    
    
    ##############

input_= input()
if input_[0]=="A" or input_[0]=="a":

    print("correct! it starts with a ")   
else:
    print("sorry it's not starting with a or A letter")

ok
sandy
notok

**12- Write a Python program to add prefix text to all of the lines in a string

In [4]:
xx=input()
add_prefix= "Welcome!" + (xx) 
add_prefix

she is the best

'Welcome!she is the best'

**13-Write a Python program to print the following numbers up to 2 decimal places

In [8]:
decimal= 2.98837627
rounded_decimal= round(decimal,2)
rounded_decimal

2.99

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [24]:
decimal = 2.98837627
formatted_number = f"{decimal:+.2f}"
print(formatted_number)

+2.99

**15-Write a Python program to display a number with a comma separator

In [4]:
numbers = input()
formatted_numbers = ",".join(numbers)
print(formatted_numbers)

908878
9,0,8,8,7,8

**16-Write a Python program to reverse a string using 2 ways

In [8]:
##### first way

word="ahmed"
reverse_= word[-1::-1]
print(reverse_)

### 2nd way

user=input()
reversed= user[-1::-1]
reversed

demha
hello ahmed

'demha olleh'

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [13]:

string1="hello"
for i in string1:
    print(i,string1.count(i))


### 2nd way:
print("2nd way:")

from collections import Counter

string2= "hello"
count2 = Counter(string2)

print(count2)

h 1
e 1
l 2
l 2
o 1
2nd way:
Counter({'l': 2, 'h': 1, 'e': 1, 'o': 1})

In [16]:
### 3rd way of the above question:

print("3rd way:")
string3 = "hello"
count3 = Counter(string3)

for i in string3:
    if count3[i] > 1:
        print(f"{i}: {count3[i]}")

l: 2
l: 2

**18-Write a Python program to find the first non-repeating character in a given string

In [41]:
words_=" she is the tallest girl and the best"
for word in words_:
    if words.count(word)==1: 
        print(word,words.count(word))

i 1
i 1
d 1

**19-Write a Python program to remove spaces from a given string

In [22]:
name="ahmed ali"
name.replace(" ","")

'ahmedali'

**20-Write a Python program to count the number of non-empty substrings of a given string

In [3]:
string_ = input("Input a string: ")
print("Number of substrings:",(len(string_)) * (len(string_) + 1) / 2) ## calcu;ate all the possible substrings

##2nd way
print("2nd way:")

string_2=(1,2,3,4,5)
substring=(len(string_2)*(len(string_2) +1 )) /2
print("number of substrings:",substring)

Input a string: abc
Number of substrings: 6.0
2nd way:
number of substrings: 15.0

**21-write a Python program to swap first and last element of any list.

In [31]:
#### first way:

my_list=[1,2,3]
switch_charecter=my_list[-1::-1]
print(switch_charecter)

##### 2nd way:

user_input=input()
reversed=user_input[-1]+user_input[1:-1]+user_input[0]
print(reversed)

#### 3rd way:

def reversed_function(reverse_charecters):
        user= reverse_charecters[-1::-1]
        print(user)
        
reversed_function("Hi")

[3, 2, 1]
sandy
yands
iH

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [4]:
mylist=[23,65,19,90]
switch_list=mylist[2],mylist[1],mylist[0],mylist[-1]
switch_list

(19, 65, 23, 90)

**23- search for the all ways to know the length of the list

In [64]:
my_list=[1,2,3,4]
(my_list)
len(my_list)

4

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [75]:
this_list=[1,22,33,4,5]
print(max(this_list))


## 2nd way

def max_num (numbers):
    print("this is the maximum number: ",max(numbers))
    
max_num([4,8,99])

33
this is the maximum number:  99

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [77]:
### first way

this_list=[1,22,33,4,5]
print(min(this_list))


## 2nd way

def min_num (numbers):
    print("this is the minimum number: ",min(numbers))
    
min_num([4,8,99])

1
this is the minimum number:  4

**26-search for if an elem is existing in list

In [80]:
list_names=["sandy","nourhan","mariam"]
if "sandy" in list_names:
    print("yes it exists")
else:
    print("it doesnt exist")

yes it exists

**27- clear python list using different ways

In [87]:
list3=["sandy",44,99,"ahmed"]
list3.clear()
list3

[]

**28-remove duplicated elements from a list

In [15]:
my_listt=[1,2,3,44,44,44,5,6,7]
remove_duplicates=list(set(my_listt))   #change list to set then convert set back to list
remove_duplicates

[1, 2, 3, 5, 6, 7, 44]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [172]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]

result = []
for i in zip(test_list, key_list):
    dictionary = dict(zip(key_list, i))
    result.append(dictionary)

print(result)

[{'name': 'Gfg', 'id': 'name'}, {'name': 3, 'id': 'id'}]

In [156]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]

result = []
for ii in zip(test_list, key_list):
    dictionary = dict(zip(key_list, ii))
    result.append(dictionary)

print(result)

[{'name': 'Gfg', 'id': 'name'}, {'name': 3, 'id': 'id'}]

In [ ]:
[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [7]:
# first way
print("first way:")

import pandas as pd

my_list1 = [1, 2,2,3,4,5,5,6,6]
unique_values1=pd.unique(my_list1)
count_unique_values1=len(unique_values1)
print(unique_values1,"the count of unique values are :",count_unique_values1)


## 2nd way
print("2nd way:")

my_list2 = [1, 2, 2, 3, 4, 4, 4, 5]
unique_values2=list(set(my_list2))
count_unique_values2=len(unique_values2)
print(unique_values2,"the count of unique values are :",count_values2)




## 3rd way
print("3rd way:")

my_list3=[1,2,2,3,3,4,4,4,4,5,6,6,6]
unique_values=[]

for i in my_list3:
    if i not in unique_values:
        unique_values.append(i)
count3= len(unique_values)
print(unique_values,"the count of unique values are :",count3)

first way:
[1 2 3 4 5 6] the count of unique values are : 6
2nd way:
[1, 2, 3, 4, 5] the count of unique values are : 5
3rd way:
[1, 2, 3, 4, 5, 6] the count of unique values are : 6

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [130]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
new_list=[]
for i in test_list:
    if test_list.count(i)>k and i not in new_list:
        new_list.append(i)
new_list

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [136]:
input_list = [1, 2, 2, 3, 4, 5]
strongest_neighbors = []
for i in range(1, len(input_list)-1):
    strongest_neighbors.append(max(input_list[i-1], input_list[i+1]))
print(strongest_neighbors)

[2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [23]:
from itertools import permutations
  
my_input= permutations([1, 2, 3], 3)  # arrange or combine all the possible values ,of length--->3
  
for i in my_input:
    print(i)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [25]:
listt=[1, 1, 2, 3 ,4 ,5, 1, 2 ,1]
for i in listt:
    if i!= 1:
        print(i)

2
3
4
5
2

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [193]:
a = ['gfg', 'is', 'best']
b = [0 ,1 ,2 ,1 ,0 ,0 ,0 ,2 ,1 ,1 ,2 ,0]
updated_list = [a[i] for i in b]
print("updated list---->",updated_list)

updated list----> ['gfg', 'is', 'best', 'is', 'gfg', 'gfg', 'gfg', 'best', 'is', 'is', 'best', 'gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [12]:
###############
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2

result = [record for record in test_list if record.count(K) == N]
print(result)

###sec output:
print("2nd output:")

test_list_2 = [(4, 5, 5, 4), (5, 4, 3)]
K_2 = 5
N_2 = 3
result2 = [i for i in test_list if i.count(K_2) == N_2]
print(result2)

[(4, 5, 5, 4)]
2nd output:
[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [68]:
# first way
print("---->sorted in ascending order based on keys:")

my_dict={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
neww_dict={}
for key,value in sorted (my_dict.items()):
    neww_dict[key]=value
    
print(neww_dict)

## 2nd way

print("--->sorted in ascending order based on values:")

my_dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
new_dict = {}

# Sorting in ascending order based on values
for key, value in sorted(my_dict.items(), key=lambda x: x[1]):
    new_dict[key] = value

print(new_dict)

---->sorted in ascending order based on keys:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}
--->sorted in ascending order based on values:
{'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

In [61]:
my_dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
new_dict = {}

# Sorting in ascending order based on keys
for key, value in sorted(my_dict.items()):
    new_dict[key] = value

print(new_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [62]:
my_dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
new_dict = {}

# Sorting in ascending order based on values
for key, value in sorted(my_dict.items(), key=lambda item: item[1]):
    new_dict[key] = value

print(new_dict)

{'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [17]:
test_dict = {"Gfg": "3", "is": "7", "best": "10", "for": "6", "geeks": "CS"}
k = 7
new_dict = {}

for key, value in test_dict.items():
    try:
        if int(value) < k: 
            new_dict[key] = value
    except ValueError:
        new_dict[key] = value 
print(new_dict)

{'Gfg': '3', 'for': '6', 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [9]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60} 
result = {}
result.update(dic1)
result.update(dic2)
result.update(dic3)
result

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [12]:
my_dictionary={"score grade 5":"3","score grade 4":"80","score grade6":"800"}
for dictionary in my_dictionary:
    print(dictionary)

score grade 5
score grade 4
score grade6

**44- Write a Python script to merge two Python dictionaries

In [45]:
dictionary1={"arabic score":30,"social score":60}
dictionary2={"english score":90,"math score":50}


dictionary1.update(dictionary2)
print("merged dictionary---->",dictionary1)

merged dictionary----> {'arabic score': 30, 'social score': 60, 'english score': 90, 'math score': 50}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [51]:
dict1={"no.countries":8,"no.cities":90,}

maximum_values=max(dict1.values())
minimum_values=min(dict1.values())
print("max value: ",maximum_values,"\nmin value: ",minimum_values)

max value:  90
min value:  8

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [103]:
mydic= {'c1': 'Red', 'c2': 'Green', 'c3': None}
updated_dic={}
for key , value in mydic.items():
    if key and value is not None:
        updated_dic[key]=value
print(updated_dic)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [47]:
mytuple_=(6,8,1,2)
mytuple_[0]

6

**48-Write a Python program to unpack a tuple into several variables

In [45]:
tuple_=("hello",1,2)
a,b,c = tuple_
print("a:",a,"\nb:",b,"\nc:",c)

a: hello
b: 1
c: 2

**49-Write a Python program to add an item to a tuple

In [181]:
tuple1=(1000,2000,"hi")
added_item= "hello"
updated_tuple= tuple1 +(added_item,)
print(updated_tuple)


# 2nd way
print("2nd way:")

tuple1=(1,2,3,4,"welcome")
converted=set(tuple1)
converted.add(88888)
return_to_tuple=tuple(converted)
print(type(return_to_tuple),return_to_tuple)

(1000, 2000, 'hi', 'hello')
2nd way:
<class 'tuple'> (1, 2, 3, 4, 'welcome', 88888)

**50-Write a Python program to convert a tuple to a string

In [155]:
my_tuple=("nour",1,2,3)
tuple_to_string= str(my_tuple)
print(type(tuple_to_string),tuple_to_string)


# 2nd way
print("2nd way by function:")

def convert(my_tuple2):
    changing=str(my_tuple2)
    print(type(changing),changing)
    
convert([1,5,8])

<class 'str'> ('nour', 1, 2, 3)
2nd way by function:
<class 'str'> [1, 5, 8]

**51-Write a Python program to convert a list to a tuple

In [55]:
list_=[1,2,3,45,6,8]
tuple_=tuple(list_)
print(type(tuple_),tuple_)

<class 'tuple'> (1, 2, 3, 45, 6, 8)

**52-Write a Python program to reverse a tuple

In [57]:
my_tuple=(1, 2, 3, 45, 6, 8)
reversed_tuple= my_tuple[-1::-1]
reversed_tuple

(8, 6, 45, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [140]:
tuple_listtt = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_tuple_list=[]
for i in tuple_listtt:
    added_value=i+(1000,)  #---->added , to concatenate it as a tuple
    new_tuple_list.append(added_value)
print(new_tuple_list)

[(10, 20, 40, 1000), (40, 50, 60, 1000), (70, 80, 90, 1000)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [53]:
myy_string= "python 3.0"
my_tuple= tuple(myy_string)
for letter in my_tuple:
    print(letter,end=",")

p,y,t,h,o,n, ,3,.,0,

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [34]:
import statistics


numbers1=(1,2,3,4,5,6,7,8)
print(int(sum(numbers)/len(numbers)))

## 2nd way
print("2nd way:")

print(int(statistics.mean(numbers1)))

# 3rd way
print("3rd way:")
def average(number):
    mean= int(sum(number)/len(number))
    print (mean)
    
numbers2=(5,699,700,50)
average(numbers2)

4
2nd way:
4
3rd way:
363

**56-Write a Python program to add member(s) to a set.

In [139]:
myy_set={"ahmed","ali","norhan"}
myy_set.add("sandy")

# if i want to add multiple members

added_members=myy_set.update({11,600})
print(myy_set)

# add member with creating function

def additem(set1):
    added=set1.add("welcome")
    
original_set={1,2,3,5}
additem(original_set)
original_set

{'ahmed', 'sandy', 600, 11, 'norhan', 'ali'}

{1, 2, 3, 5, 'welcome'}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [155]:
my_sett={1,2,"sandy","nourhan","aliaa"}
if "aliaa" in my_sett:
    my_sett.remove("aliaa")
else:
    print("aliaa not exists")
my_sett

{1, 2, 'nourhan', 'sandy'}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [20]:
set1={1,2,3,4,5,"mahmoud","mariam"}
set2={"mahmoud",4,500,700}
print(set1.intersection(set2))


# 2nd way creating function

def intersection (set1,set2):
    common=set1.intersection(set2)
    print(common)
    
intersection(set1,set2)

{'mahmoud', 4}
{'mahmoud', 4}

**59-Write a Python program to find the maximum and minimum values in a set

In [104]:
#1st way
myset={9,998,0,11}
print("maximum value is",max(myset))
print("minimum value is",min(myset))

#2nd way

print("2nd way: ")

def max_and_min_value(my_set):
    max_value=max(my_set)
    min_value=min(my_set)
    print("max value is",max_value,"\nmin value is",min_value)
    
max_and_min_value({77,99,1000,5})

maximum value is 998
minimum value is 0
2nd way:
max value is 1000
min value is 5

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [27]:
#1st way

def sum_of_pairs (mylist, targetsum):
    result_pairs=[]
    for first_number in range(len(mylist)):
        for second_number in range(first_number+1,(len(mylist))):    #+1 to avoid duplicates
            if mylist[first_number] + mylist[second_number]== targetsum:
                result_pairs.append((mylist[first_number],mylist[second_number]))
    return result_pairs

mylist=[1,2,3,4,5,6]
targetsum=6
print("sum of 6 are",sum_of_pairs(mylist,targetsum))



##2nd way

print("2nd way:")

listt=[1,2,3,4,5,6]
target_sum=5
result=[]
for num1 in range(len(listt)):
    for num2 in range(num1+1,len(listt)):
        if listt[num1] + listt[num2] == target_sum :
            result.append((listt[num1],listt[num2]))
print("sum of 5 are",result)

sum of 6 are [(1, 5), (2, 4)]
2nd way:
sum of 5 are [(1, 4), (2, 3)]